html {
	height:960px;
}

body {
	height: 960px;
 	width: 960px;
}

button:focus {
	outline:0;
}

button:hover {
	color:white;
}

.header {
	height:10%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
}

.header-button {
	background-color: #7a3786;
	border:none;
	color:#dadada;
	text-align:center;
	display:inline-block;
	font-size:16px;
	border-radius:4px;
	line-height: 30px;
}

.child-container {
	background: #000;
	float: left;
	border:1px solid white;
}

/* The height/width will need to change, so give separate class */
.child-container-default-size {
	height: 58px;
	width: 58px;
}

.highlighted {
	background: gray;
}